{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="/static/blog/css/style.css">
</head>
<body class="container">
    <a href="/">← Назад</a>
    <h1>{{ post.title }}</h1>
    <p><i>Автор: {{ post.author }} | Категорія: {{ post.category }}</i></p>
    <div class="content">{{ post.content }}</div>
    <hr>
    <div class="comments">
        <h3>Коментарі:</h3>
        {% for comment in comments %}
            <p><b>{{ comment.author }}:</b> {{ comment.text }}</p>
        {% empty %}
            <p>Немає коментарів.</p>
        {% endfor %}
    </div>
</body>
</html>